font-family = Inconsolata
# font-family = Fira Code
font-feature = -calt
font-feature = -dlig
font-feature = -liga
font-size = 11
theme = nord
mouse-hide-while-typing
window-decoration = false
quit-after-last-window-closed
keybind = global:ctrl+t=toggle_quick_terminal
keybind = ctrl+space>r=reload_config
